name: Build Python Application

on: 
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build application
        run: |
             uv pip install -r requirements.txt
             . build.sh
